name: Build and Deploy Documentation

concurrency:
  group: "docs"
  cancel-in-progress: true

on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:

jobs:
  build_docs:
    name: Build documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.8.10
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          environments: >-
            docs

      - name: Install Python dependencies
        run: pixi run sync

      - name: Build docs
        run: pixi run -e docs docbld

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: docs/build/html
